@use "./reset";
@use "./animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  margin-top: 1rem;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
